@import './scss/variables';
@import './scss/partials';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* General */
button {
  padding: 0.4rem 0.8rem;
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.05) inset;
  color: #333;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  transition-property: transform;
  transform: translateZ(0);
  transition: box-shadow 0.5s cubic-bezier(0.39, 0.5, 0.15, 1.36);
}
button:hover {
  box-shadow: 0 0 0 28px rgba(0, 0, 0, 0.25) inset;
}
.warm__background {
  background-color: $BG_WARM_100;
}
.chill__background {
  background-color: $BG_CHILL_100;
}

/* App.js */
.todo__container {
  margin: 0 auto;
  max-width: 960px;
  width: 95%;
  min-height: 100vh;
}
.todo__header {
  @extend %flex-row-center-all;
  padding: 3rem 0;
}
.todos__container {
  overflow: auto;
}
%slideDown__base {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 20;
  transition: all 0.2s;
}
.slideDown__hidden {
  @extend %slideDown__base;
  top: -200px;
}
.slideDown__show {
  @extend %slideDown__base;
  top: 0px;
}
.footer {
  padding: 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.footer span {
  cursor: crosshair;
  transition: all 0.2s;
}
.footer span:hover {
  font-weight: bold;
}
.theme__warm {
  color: $TEXT_WARM_100;
  font-family: monospace;
}
.theme__chill {
  color: $TEXT_CHILL_100;
  font-family: monospace;
}
.theme__chill.theme__active {
  border-bottom: 5px solid;
}
.theme__warm.theme__active {
  border-top: 5px solid;
}
.divider {
  margin: 0 0.5rem;
}

/* TodoForm.js */
.todo__form__container {
  @extend %flex-row-center-all;
  background-color: whitesmoke;
  padding: 1rem 0;
}
input[type='text'] {
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border: none;
  outline: none;
  width: 300px;
}
input[type='text']:focus {
  background-color: #ddd;
}
.todo__addtodo {
  margin-left: 1rem;
}

/* TodoItem.js */
.todo__item {
  @extend %flex-row-between-center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
}
.todo__item > p {
  flex: 1;
  line-height: 1.5;
}
.todo__item__delete {
  color: #de3163;
  margin-left: 0.5rem;
}

/* TodoFormSlideDown */
.todoFormSlideDown {
  @extend %flex-row-between-center;
  background-color: whitesmoke;
  padding: 1rem;
}
.todoFormSlideDown__form {
  flex: 1;
}
.goTop {
  color: #ff6348;
  cursor: pointer;
  transition: color 0.2s;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
.goTop:hover {
  color: #ff7f50;
}
.todoFormSlideDown > p {
  color: #747d8c;
}

@media only screen and (max-width: 768px) {
  .todo__item {
    padding: 0.5rem 1rem;
  }
  .todo__item__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .todo__item__delete {
    margin-left: 0;
  }
  input[type='text'] {
    width: 250px;
    padding: 0.4rem;
  }
  button {
    padding: 0.4rem;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  .todo__item {
    padding: 0.5rem 0;
  }
  .todo__container {
    width: 100%;
  }
  .todos__container {
    padding: 1rem;
  }

  /* TodoFormSlideDown */
  .goTop {
    display: none;
  }
  .todoFormSlideDown > p {
    display: none;
  }
}
