@import './scss/variables';
@import './scss/partials';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
@import './scss/button';
@import './scss/modal';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* General */

.warm__background {
  background-color: $BG_WARM_100;
}
.chill__background {
  background-color: $BG_CHILL_100;
}
.warm__text {
  color: $TEXT_WARM_100;
}
.chill__text {
  color: $TEXT_CHILL_100;
}

/* App.js */
%container-base {
  margin: 0 auto;
  max-width: 1024px;
}
.todo__container {
  @extend %container-base;
  min-height: 100vh;
}
.todo__header {
  @extend %flex-row-center-all;
  padding: 3rem 0;
  position: relative;

  .todos__data {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    > p {
      font-size: 0.8rem;
    }
  }
}
.todos__container {
  overflow: auto;
}
%slideDown__base {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 20;
  transition: all 0.2s;

  > div {
    @extend %container-base;
  }
}
.slideDown__hidden {
  @extend %slideDown__base;
  top: -200px;
}
.slideDown__show {
  @extend %slideDown__base;
  top: 0px;
}

/* TodoBelt */
.addTodo__action {
  @extend %flex-row-center-all;
  padding: 0.6rem 0.8rem;
  border: thin dotted $GREY;
  cursor: pointer;
  transition: border 0.2s;
  margin-left: 1rem;

  &:hover {
    border: thin solid $GREY;
  }

  > p {
    font-size: 0.8rem;
  }
}

// Footer
.footer {
  padding: 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;

  span {
    cursor: crosshair;
    transition: all 0.2s;

    &:hover {
      font-weight: bold;
    }
  }

  .divider {
    margin: 0 0.5rem;
  }
}
.copyright {
  color: $GREY;

  > a {
    color: $ACCENT_RED;
    transition: color 0.2s;

    &:hover {
      color: darken($ACCENT_RED, 10%);
    }
  }
}
.theme__warm {
  @extend .warm__text;
  font-family: monospace;

  &.theme__active {
    border-bottom: 5px solid;
  }
}
.theme__chill {
  @extend .chill__text;
  font-family: monospace;
  &.theme__active {
    border-bottom: 5px solid;
  }
}

/* TodoForm.js */
.todo__form__container {
  padding: 1rem 0;
  overflow: hidden;
  @extend %flex-column-start-all;
  gap: 1rem;

  textarea {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    outline: none;
    resize: none;
    width: 480px;
    max-height: 100%;
  }

  textarea:focus {
    background-color: $WHITE_100;
    border: 1px solid $BG_CHILL_100;
  }

  .todo__addtodo {
    @extend %flex-row-center-end;
    align-self: flex-end;
    padding: 0.6rem 0.8rem;

    > p {
      margin-left: 8px;
    }
  }
}

/* TodoItem.js */
.todo__item {
  @extend %flex-row-between-center;
  padding: 1rem 2rem;
  border-bottom: 1px solid $GREY_LIGHT;
  gap: 1rem;

  > textarea {
    flex: 1;
  }
  > p {
    flex: 1;
    line-height: 1.5;
  }
  &.isDone {
    color: $GREY;
    text-decoration: line-through;
  }

  .todo__item__actions {
    @extend %flex-row-center-all;
    gap: 0.5rem;
  }
  .todo__item__delete {
    color: $ACCENT_RED;
  }
  textarea {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    outline: none;
    resize: none;
  }
}

/* TodoFormSlideDown */
.todoFormSlideDown {
  @extend %flex-row-between-center;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .goTop {
    cursor: pointer;
    transition: all 0.2s;
    font-weight: bold;
    padding: 0.5rem 1rem;

    &:hover {
      transform: rotate(30deg);
    }
  }
}

@media only screen and (max-width: 768px) {
  .todo__item {
    padding: 0.5rem 1rem;
    .todo__item__actions {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem;
    }
    .todo__item__delete {
      margin-left: 0;
    }
  }

  button {
    padding: 0.4rem;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  .todo__item {
    padding: 0.5rem 0;
  }
  .todos__container {
    padding: 1rem;
  }

  /* TodoFormSlideDown */
  .todoFormSlideDown {
    .goTop {
      display: none;
    }
  }

  /* TodoForm */
  .todo__form__container {
    textarea {
      padding: 0.5rem;
      width: 100%;
    }
  }
}
