@import './scss/variables';
@import './scss/partials';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* General */
button {
  padding: 0.3rem 0.4rem;
  // padding: 0.6rem 0.8rem;
  border: none;
  border: thin solid rgba(0, 0, 0, 0.1);
  color: #333;
  background-color: $WHITE;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;
  white-space: nowrap;
  transition-property: transform;
  transform: translateZ(0);
  transition: box-shadow 0.5s cubic-bezier(0.39, 0.5, 0.15, 1.36);
}
button:hover {
  box-shadow: 0 0 0 28px rgba(0, 0, 0, 0.25) inset;
}
.warm__background {
  background-color: $BG_WARM_100;
}
.chill__background {
  background-color: $BG_CHILL_100;
}
.warm__text {
  color: $TEXT_WARM_100;
}
.chill__text {
  color: $TEXT_CHILL_100;
}

/* App.js */
%container-base {
  margin: 0 auto;
  max-width: 960px;
  width: 95%;
}
.todo__container {
  @extend %container-base;
  min-height: 100vh;
}
.todo__header {
  @extend %flex-row-center-all;
  padding: 3rem 0;
}
.todos__container {
  overflow: auto;
}
%slideDown__base {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 20;
  transition: all 0.2s;

  > div {
    @extend %container-base;
  }
}
.slideDown__hidden {
  @extend %slideDown__base;
  top: -200px;
}
.slideDown__show {
  @extend %slideDown__base;
  top: 0px;
}

// Footer
.footer {
  padding: 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;

  span {
    cursor: crosshair;
    transition: all 0.2s;

    &:hover {
      font-weight: bold;
    }
  }
}
.theme__warm {
  @extend .warm__text;
  font-family: monospace;

  &.theme__active {
    border-bottom: 5px solid;
  }
}
.theme__chill {
  @extend .chill__text;
  font-family: monospace;
  &.theme__active {
    border-bottom: 5px solid;
  }
}
.divider {
  margin: 0 0.5rem;
}

/* TodoForm.js */
.todo__form__container {
  @extend %flex-row-center-all;
  padding: 1rem 0;
  > div {
    @extend %flex-row-center-all;
  }
}
input[type='text'] {
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border: none;
  outline: none;
  width: 400px;
  margin-left: 1rem;
}
input[type='text']:focus {
  background-color: #eee;
  border-bottom: 1px solid;
  margin-bottom: -1px;
}
.todo__addtodo {
  margin-left: 1rem;
}

/* TodoItem.js */
.todo__item {
  @extend %flex-row-between-center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
  gap: 1rem;

  > textarea {
    flex: 1;
  }
}
.todo__item > p {
  flex: 1;
  line-height: 1.5;
}
.todo__item__actions {
  @extend %flex-row-center-all;
  gap: 0.5rem;
}
.todo__item__delete {
  color: #de3163;
}
textarea {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  outline: none;
  resize: none;
}

/* TodoFormSlideDown */
.todoFormSlideDown {
  @extend %flex-row-between-center;
  padding: 1rem;
}
.todoFormSlideDown__form {
  flex: 1;
}
.goTop {
  cursor: pointer;
  transition: all 0.2s;
  font-weight: bold;
  padding: 0.5rem 1rem;

  &:hover {
    transform: rotate(30deg);
  }
}

@media only screen and (max-width: 768px) {
  .todo__item {
    padding: 0.5rem 1rem;
  }
  .todo__item__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .todo__item__delete {
    margin-left: 0;
  }
  input[type='text'] {
    width: 250px;
    padding: 0.4rem;
  }
  button {
    padding: 0.4rem;
  }
}
@media only screen and (max-width: 480px) {
  %container-base {
    width: 100%;
  }
  h1 {
    font-size: 1.5rem;
  }
  .todo__item {
    padding: 0.5rem 0;
  }
  .todos__container {
    padding: 1rem;
  }

  /* TodoFormSlideDown */
  .goTop {
    display: none;
  }
  .todoFormSlideDown > p {
    display: none;
  }
}
